/*DÉBUT SECTION mainPagePSI.PHP */

.container-full-width {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .img-with-text {
    padding: 50px;
    width: 64px;
  }
  
  .img-with-text img {
    display: block;
    margin: 0 auto;
    width: 64px;
  }
  .img-with-text a{
    display: flex;
    justify-content: center;
  }



  /*DÉBUT SECTION formulairePSI.PHP */

  * input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: rgb(0, 0, 0);
  }

  * label {
    font-weight:bold;
  }
  
  H1, h2 {
    JUSTIFY-CONTENT: CENTER;
    DISPLAY: FLEX;
  }

  .containerCent {
    margin: 0 auto;
    width: 768px;
    display: flex;
    justify-content: center;
    border: 1px solid #ccc;
 
  }

  .cinquante {
    width: 50%;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;

  }

  .cinquante textarea {
    width: 100%;
    height: 75px;
    
  }
 

  .title {
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    background-color: rgb(224, 224, 224);
  }

  .input{
    margin-top: 20px;
    font-weight: bold;
  }

 .trentepourcent{
  border: 1px solid rgb(0, 0, 0);
  width: 32%;
}

.trentepourcent p {
  margin-left: 10px;
  margin-top: 25px;
}

.trentepourcent :nth-child(3) {
  margin-top: 60px;
}

.soixantedixpourcent {
  border: 1px solid rgb(58, 0, 0);
  width: 68%;
  
 }

 .espacement {
  margin-top: 30px;
 }
 .inputsoixantedixpourcent  {
  margin-top: 20px;
  font-weight: bold;
  margin-left: 20px;
 }

 .inputsoixantedixpourcent label:nth-child(2n){
  margin-left: 10px;
 }

 
 .cda input {
  width: 268px;
 }

 .rappelM {
  margin-left: 100px;
 }

 .inputSoixanteDixPourCentLargeurInput input{
  width: 18%;
 }

 .trentepourcentPartTwo{
  border: 1px solid rgb(0, 0, 0);
  width: 32%;
}
.trentepourcentPartTwo input {
  width: 50px;
  margin-top: 70px;
}

.personnel input {
  width: 10%;
}

.paba input {
  width: 12%;
}



.quatrevingtdixpourcent {
  width: 100%;
  border: 1px solid rgb(0, 0, 0);
}

.quatrevingtdixpourcent input{
  width: 8%;

}